.example-spacer {
    flex: 1 1 auto;
}

md-sidenav {
    width: 300px;
}

/*.sidenavcon {
    width: 100%;
    min-height: 50px; 
    height: 861px;  
}

.cont {
    background-color: white;
}

.example-card {
    margin: 10px;
    width: 400px;
}

.example-header-image {
  background-size: cover;
}*/
